<h5 class="page-title mb-2"><i class="fa-solid fa-location-dot"></i> Editar ponto</h5>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />

<div id="map-new-point" class="map-edit-point mb-3"
     style="width: 100%; height: 300px;"> </div>

<%= simple_form_for([ @point ], remote: true) do |f| %>

  <%= f.input :name, label: 'Nome', hint: 'Máximo de 30 caracteres', required: true%>
  <%= f.input :latitude, label: 'Latitude', class: "latitude" %>
  <%= f.input :longitude, label: 'Longitude' %>
  <%#= f.input :date, label: 'Data', :order => [:day, :month, :year], as: :date  %>
  <%#= f.input :time, label: 'Hora', as: :string, input_html: { value: Time.now.strftime("%H:%M:%S") }, as: :time %>
  <%= f.input :description, label: 'Descrição', as: :text %>
  <%= f.input :photos, label: 'Fotos', as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, "OK", class:"btn btn-primary text-white mb-2 mr-2" %>
  <%= link_to "Voltar", user_subject_points_path(@subject), class:"btn btn-secondary mb-2" %>
<% end %>
