<h3 class="page-title mb-2"><i class="fa-solid fa-location-dot"></i> Editar ponto</h3>

<%= simple_form_for([ @subject, @point ], remote: true) do |f| %>

  <%= f.input :name, label: 'Nome' %>
  <%= f.input :latitude, label: 'Latitude' %>
  <%= f.input :longitude, label: 'Longitude' %>
  <%#= f.input :date, label: 'Data', :order => [:day, :month, :year], as: :date  %>
  <%#= f.input :time, label: 'Hora', as: :string, input_html: { value: Time.now.strftime("%H:%M:%S") }, as: :time %>
  <%= f.input :description, label: 'Descrição', as: :text %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, "OK", class:"btn btn-primary text-white mb-2 mr-2" %>
  <%= link_to "Voltar", subject_points_path(@subject), class:"btn btn-secondary mb-2" %>
<% end %>
