<h3 class="page-title mb-2"><i class="fa-solid fa-location-dot"></i> Pontos - <span class="text-primary"><%= Subject.find(params[:subject_id]).name.capitalize %></span></h3>

<div class= "mb-2" id="map"
     style="width: 100%; height: 350px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="form text-center mt-3">
  <%= form_tag subject_points_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Buscar pontos"
    %>

  <div>
    <%= submit_tag "Buscar", class: "btn btn-primary btn-sm text-center text-white mt-3" %>
    <%= link_to "Deletar busca", request.path, class:"btn btn-primary btn-sm text-white mt-3 mb-2 ml-2" %>
  <% end %>
  <% params.permit! %>
  <%= link_to "Exportar", subject_points_path(params.merge(format: "csv")), class: "btn btn-secondary btn-sm mt-3 mb-2 ml-2"%>

  </div>
</div>

<div class="points-container">
  <%@points.each do |point|%>
  <% date_point = point.date[4] + point.date[5] + "/" + point.date[11] +"/" + point.date[17] + point.date[18] + point.date[19] + point.date[20] %>
  <div class="card-product mt-3 mb-4 rounded d-flex justify-content-between p-2">
    <div class="card-product-infos ml-3 mt-1">
        <h6><i class="page-title fa-solid fa-location-dot text-primary"></i> <%=point.name.capitalize%> </h6>
        <p><i class="page-title fas fa-calendar text-primary"></i> <%=date_point%></p>
        <p><i class="page-title fas fa-globe-americas text-primary"></i> <strong>Lat:</strong> <%=point.latitude%> <strong class="text-primary">-</strong> <strong>Long:</strong> <%=point.longitude%></p>
    </div>
    <%= link_to "Info", subject_points_path(point), class:"page-title btn btn-primary btn-sm text-white" %>
  </div>
  <%end%>
</div>

<%= link_to "+ Ponto", new_subject_point_path, class:"btn btn-primary text-white mb-2 mr-2" %>
<%= link_to "Voltar", subjects_path, class:"btn btn-secondary mb-2 ml-4" %>
