<h5 class="page-title mb-2"><i class="fa-solid fa-location-dot"></i> Pontos - <span class="text-primary"><%= Subject.find(params[:subject_id]).name.capitalize %></span></h5>

<div class= "mb-2" id="map"
     style="width: 100%; height: 350px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<% if @points.size > 0 %>
  <div class="form text-center mt-3">
    <%= form_tag user_subject_points_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Buscar pontos"%>
    <div>
      <%= submit_tag "Buscar", class: "btn btn-primary btn-sm text-center text-white mt-3 mb-2" %>
      <%= link_to "Deletar busca", request.path, class:"btn btn-primary btn-sm text-white mt-3 mb-2 ml-2" %>
    <% end %>
    <% params.permit! %>
    <%= link_to "Exportar", user_subject_points_path(params.merge(format: "csv")), class: "btn btn-secondary btn-sm mt-3 mb-2 ml-2"%>
    </div>
  </div>

  <div class="points-container">
    <%@points.each do |point|%>
      <% date_point = eval(point.date)[3].to_s + "/" + eval(point.date)[2].to_s + "/" + eval(point.date)[1].to_s  %>
      <div class="card-product mt-3 mb-4 rounded d-flex justify-content-between p-2">
        <div class="card-product-infos text-break">
          <h6><i class="page-title fa-solid fa-location-dot text-primary"></i> <%=point.name.capitalize%> </h6>
          <p><i class="page-title fas fa-calendar text-primary"></i> <%=date_point%></p>
          <p><i class="page-title fas fa-globe-americas text-primary"></i> <strong>Lat:</strong> <%=point.latitude.round(1)%></p>
          <p><i class="page-title fas fa-globe-americas text-primary"></i> <strong>Long:</strong> <%=point.longitude.round(1)%></p>
        </div>
        <div class="buttons">
          <%= link_to "Info", user_subject_point_path(current_user, @subject, point), class:"page-title btn btn-primary btn-sm text-white" %>
          <%= link_to "Delete",
            user_subject_point_path(current_user, @subject, point),
            method: :delete, remote: true,
            data: { confirm: "Tem certeza?" }, class:"btn btn-danger btn-sm text-white" %>
        </div>
      </div>
    <%end%>
  </div>
<% end %>

<%= link_to "+ Ponto", new_user_subject_point_path, class:"btn btn-primary text-white mb-2 mr-2" %>
<%= link_to "Voltar", user_subjects_path(current_user), class:"btn btn-secondary mb-2 ml-4" %>
