<% date_point = @point.date[4] + @point.date[5] + "/" + @point.date[11] +"/" + @point.date[17] + @point.date[18] + @point.date[19] + @point.date[20] %>

<h3 class="page-title mb-2"><i class="fa-solid fa-location-dot"></i> <%= @point.name.capitalize %> - <span class="text-primary"><%= date_point %></span></h3>
<p class="text-secondary"><strong>Lat:</strong> <%=@point.latitude%> <strong class="text-primary">-</strong> <strong>Long:</strong> <%=@point.longitude%></p>

<div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="point-description border rounded bg-white mb-2 text-break text-left mt-3">
  <div class="p-3">
    <h5 class="page-title mb-3"><i class="fa-solid fa-pen text-primary"></i> Descrição</h5>
    <%= @point.description %>
  </div>
</div>

<div class="photo-content mt-4 mb-4">
  <h5 class="page-title mb-3"><i class="fa-solid fa-camera text-primary"></i> Fotos</h5>
  <div class="photos">
    <% if @point.photos.attached? %>
      <% @point.photos.each do |photo| %>
        <div>
          <a href="<%=cloudinary_url(photo.key)%>" target="_blank">
            <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill, class: "photo" %>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="buttons">
  <%= link_to "Editar", edit_subject_point_path(@subject, @point), class: "btn btn-primary text-white"%>
  <%= link_to "Delete",
          subject_point_path(@subject, @point),
          method: :delete, remote: true,
          data: { confirm: "Tem certeza?" }, class:"btn btn-danger text-white" %>
  <%= link_to "Voltar", subject_points_path(@point.subject), class: "btn btn-secondary"%>
</div>
