<% date_point = eval(@point.date)[3].to_s + "/" + eval(@point.date)[2].to_s + "/" + eval(@point.date)[1].to_s  %>

<h5 class="page-title mb-2"><i class="fa-solid fa-location-dot"></i> <%= @point.name.capitalize %> - <span class="text-primary"><%= date_point %></span></h5>
<span class="text-secondary"><strong>Lat:</strong> <%=@point.latitude%></span>
<br>
<span class="text-secondary"><strong>Long:</strong> <%=@point.longitude%></span>

<div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" class="mt-2"></div>

<div class="point-description border rounded bg-white mb-2 text-break text-left mt-3">
  <div class="p-3">
    <h5 class="page-title mb-3"><i class="fa-solid fa-pen text-primary"></i> Descrição</h5>
    <%= @point.description %>
  </div>
</div>

<div class="photo-content mt-4 mb-4">
  <% if @point.photos.attached? %>
    <h5 class="page-title mb-3"><i class="fa-solid fa-camera text-primary"></i> Fotos</h5>
  <% end %>
  <div class="photos">
    <% if @point.photos.attached? %>
      <% @point.photos.each do |photo| %>
          <a href="<%=cloudinary_url(photo.key)%>" target="_blank">
            <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill, class: "photo" %>
          </a>
      <% end %>
    <% end %>
  </div>
</div>

<div class="buttons">
  <%= link_to "Editar", edit_user_subject_point_path(current_user, @subject, @point), class: "btn btn-primary text-white"%>
  <%= link_to "Delete",
          user_subject_point_path(current_user, @subject, @point),
          method: :delete, remote: true,
          data: { confirm: "Tem certeza?" }, class:"btn btn-danger text-white" %>
  <%= link_to "Voltar", user_subject_points_path(current_user, @point.subject), class: "btn btn-secondary"%>
</div>
