<h3 class="page-title"><i class="fas fa-user-astronaut text-primary"></i> Editar perfil de <span class="text-primary"><%= current_user.first_name.capitalize %></span></h3>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, label: "E-mail", autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Deixe em branco caso não queira alterar",
                required: false,
                input_html: { autocomplete: "new-password" },
                label: "Nova senha" %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" },
                label: "Confirme a vova senha" %>
    <%= f.input :current_password,
                hint: "Informe a senha",
                required: true,
                label: "Senha atual",
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar", class: "btn btn-primary text-white mb-2" %>
  </div>
<% end %>

<%= link_to "Voltar", :back, class: "btn btn-secondary" %>
