<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", style: 'height:50px;width:50px;' %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

          <li class="nav-item d-flex justify-content-center">
            <%= link_to "Disciplinas", subjects_path, class: "nav-link mr-1" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown text-center">
              <%= link_to "", "#", class: "fa-solid fa-user-astronaut h5 mt-2 avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="navbarDropdown">
                <%= link_to "Editar perfil", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
        <% else %>
          <li class="nav-item d-flex justify-content-center">
            <%= link_to "", new_user_session_path, class: "fas fa-key nav-link mt-1 text-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
