<h5 class="page-title"><i class="fas fa-edit text-primary"></i> Editar Campo</h5>

<%= simple_form_for( [current_user, @subject ], remote: true) do |f| %>

  <%= f.input :name, label: 'Nome'%>
  <%= f.input :teacher, label: 'Professor'%>
  <%= f.input :photos, label: 'Fotos', as: :file, input_html: { multiple: false } %>
  <%= f.button :submit, "Editar", class:"btn btn-primary text-white mt-2 mb-2 pr-4 pl-4 mr-2" %>
  <%=link_to "Voltar", user_subjects_path(current_user), class:"btn btn-secondary mt-2 mb-2 pr-4 pl-4 mr-2"%>

<% end %>
