<h3 class="page-title mb-2"><i class="fa-solid fa-graduation-cap"></i> Adicionar disciplina</h3>

 <%= simple_form_for @subject do |f| %>
  <%= f.input :name, label: 'Nome'%>
  <%= f.input :teacher, label: 'Professor'%>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, "OK", class:"btn btn-primary text-white mt-2 mb-2" %>
<% end %>
